.pets__title {
    color: #000;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
}

.petsList {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.petsList__photo {
    border-radius: 10px;
width: 270px;
height: 208px;
flex-shrink: 0;
}

.petsList__text {
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
}

.pets__btn {
    border-radius: 10px;
background: #FFB36C;
padding: 10px 30px;
color: #000;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
}