.newsContainer {
  display: block;
}

@media (max-width: 1440px) {
  .newsContainer {
    display: none;
  }
}

.newsTitle {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.newsBtn {
  border-radius: 10px;
  background: #ffb36c;
  border: none;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  gap: 10px;
  cursor: pointer;
}
