.containerBlock {
  width: 293px;
  margin: 0 auto;
  display: block;
  position: relative;
}

@media screen and (min-width: 834px) {
  .containerBlock {
    width: 634px;
  }
}

@media screen and (min-width: 1440px) {
  .containerBlock {
    width: 1140px;
    margin: 0 auto;
  }
}
