.header {
  padding: 12px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerList {
  display: flex;
  gap: 42px;
  margin-left: 111px;
}

.headerList__link {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.header__btn {
  border-radius: 10px;
  background: #ffb36c;
  font-family: Montserrat;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 27px;
  margin-left: auto;
}
